<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sgz.androidlib">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.sample.TestLoginActivity" />
        <activity android:name=".activity.sample.TestBaseTakePhotoActivity" />
        <activity android:name=".activity.sample.TestBaseGetPhotoListActivity" />
        <activity android:name=".activity.sample.TestBaseRefreshListActivity" />
        <activity android:name=".activity.sample.TestMyQRCodeActivity" android:launchMode="singleTask"/>
        <activity android:name=".view.sample.TestScrollerLayoutActivity" />
        <activity android:name=".view.sample.TestWebLayoutActivity" />
        <activity android:name=".activity.sample.TestWebActivity" />
        <activity android:name=".view.TestViewActivity" />
        <activity android:name=".activity.TestActivityActivity" />
        <activity android:name=".dialog.TestDialogActivity" />
        <activity android:name=".fragment.TestFragmentActivity" />
        <activity android:name=".view.sample.TestSmartRefreshLayoutActivity" />
        <activity android:name=".others.sample.TestUpdateVersionActivity" />
        <activity android:name=".others.TestOthersActivity" />
        <activity android:name=".others.sample.TestCreateCodeActivity" />
        <activity android:name=".others.sample.TestBaseAdapterActivity" />
        <activity android:name="com.android.sgzcommon.activity.QRCodeActivity" android:launchMode="singleTask"/>
        <activity android:name="com.android.sgzcommon.activity.BarCodeActivity" />
        <activity android:name="com.android.sgzcommon.activity.PhotoViewActivity"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.sgz.androidlib"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service android:name=".MyService" />
    </application>

</manifest>